<h1>Edit RSpec Test Code</h1>

<%= link_to 'Show', @tester, class: "button" %> <%= link_to 'Back', testers_path, class: "button" %>

<textarea class="my-code" rows="26" style="width: 85%">
<% File.open(Rails.root.to_s + "/public/test/" + @tester.code, "r").each_line do |line| %><%= line %><% end %>
</textarea>
<script>
  $('.my-code').ace({ theme: 'tomorrow_night_bright', lang: 'ruby' })
  var editor = $(".my-code").data('ace').editor.ace;
  editor.getSession().setUseWrapMode(true);   //turn on word wrap
  editor.getSession().setTabSize(2);
</script>
<button class="btn btn-danger">Save Code</button> 
