<h1>Upload RSpec Test Code</h1>
<b>Do NOT include any lines that say "require_relative" or "spec_helper"!</b>
<br><br>
<%= form_for(@tester) do |f| %>
  <div class="actions">
    <%= f.file_field :code %><br>
    <%= f.submit "Upload RSpec Test File", class: "button"  %>
  </div>
<% end %>

<script>
//$('form').submit(function(event) {  
   //var valuesToSubmit = $(this).serialize();
   //var code = $(this).find('#tester_code').val();
   //console.log(code);
   // $.ajax({
   //     url: $(this).attr('action'), //sumbits it to the //given url of the form
   //     data: valuesToSubmit,
   //     dataType: "JSON" // you want a difference //between normal and ajax-calls, and json is //standard
   // }).success(function(json){
   //     //act on result.
   // });

   // $.post('/testers', valuesToSubmit, function(return_data){
   //    console.log(return_data);
   // });
   //var url = "/testers/" + $('#filename-code-edit').//data("id");
   // $.get(url, function( data ) {
   //   $("#code").html(data);    //returns show page //by AJAX
   // });
   //event.preventDefault(); // prevents normal behaviour
});

</script>