<h1>Upload RSpec Test Code</h1>
<b>Do NOT include any lines that say "require_relative" or "spec_helper"!<br>
Program will add the right "require_relative" line for you and ignore the others.</b><br><br>
<%= form_for(@tester) do |f| %>
  <div class="actions">
    <%= f.file_field :code %><br>
    <%= f.submit "Upload RSpec File", class: "button"  %>
  </div>
<% end %>

<%= link_to 'Back', testers_path, class: "button" %>