<h1>Upload RSpec Test Code</h1>
Do NOT include any "require_relative" files!<br>
<%= form_for(@tester) do |f| %>
  <div class="actions">
    <%= f.file_field :code %><br>
    <%= f.submit "Upload RSpec File" %>
  </div>
<% end %>

<%= link_to 'Back', testers_path %>

